@import "../../scss/global";

.tab-container {
    width: max-content;
    border-radius: 16px;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 24px;
}

.tabs__content {
  height: 100%;
}

.tabs__button {
  color: #ffffff;
  background: none;
  padding: 8px 24px;
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: block;
  position: relative;

  @include lg-breakpoint {
    font-size: 14px;
}
}

.tabs__button.active {
  color: #ffffff;
  font-weight: 500;
  border-radius: 12px;
  color: $blue-color;
}

.slider {
  width: 100%;
  height: 5px;
  position: relative;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-color: $blue-color;
  transition: all 0.3s ease;
}