@import "../../scss/global.scss";

.popular__container {
  height: 450px;

  &-before-bg {
    height: 450px;
  }

  .popular-content {
    color: #FFF;

    .title-tabs {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__poster {
      height: 290px;
      background-position: center center;
      background-size: cover;
      display: flex;
      align-items: center;
      position: relative;

      &__container {
        position: absolute;
        width: 100%;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 800px;

        &-info-movies {
          height: 50%;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          width: 100%;

          .info-movie-title {
            font-size: 48px;
            font-weight: 400;
          }

          .info-movie-description {
            font-size: 16px;
            font-weight: 300;
            line-height: 2;
          }
        }
      }
    }
  }
}