@import "./scss/global.scss";

.trending {
position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 60px;
        position: absolute;
        background-image: linear-gradient(to bottom, #000000 0, #080808 100%);
        will-change: opacity;
        pointer-events: none;
    }

    .tend {
        height: 500px;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(to bottom, #000000 0, $background-color 100%);
        padding: 48px 16px
    }

    .trending-content {
        color: #FFF;
        
        .title-tabs {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}