@import "../../scss/global.scss";

.movie-video-info-release-circle-bar {
  display: flex;
  align-items: end;
  justify-content: flex-end;

  .circle-bar {
    height: 40px;
    display: flex;
    align-items: end;
    border-radius: 50px;
    width: 40px;
    text-align: center;
  }
}

.trending__container {
  position: relative;
  height: 450px;

  &::before {
    content: "";
    width: 100%;
    height: 60px;
    position: absolute;
    background-image: linear-gradient(to bottom, #000000 0, #080808 100%);
    will-change: opacity;
    pointer-events: none;
  }

  &-before-bg {
    height: 450px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, #000000 0, $background-color 100%);
    padding: 48px 0;
  }

  .trending-content {
    color: #FFF;

    .title-tabs {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__poster {
      height: 290px;
      background-position: center center;
      background-size: cover;
      display: flex;
      align-items: center;
      position: relative;

      &-container {
        position: absolute;
        width: 100%;
        overflow: hidden;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 800px;

        &-info-movies {
          height: 50%;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          width: 100%;

          .info-movie-title {
            font-size: 48px;
            font-weight: 400;
          }

          .info-movie-description {
            font-size: 16px;
            font-weight: 300;
            line-height: 2;
          }
        }
      }
    }
  }
}